@import "tailwindcss";

@theme {
  --color-text: #0a2342;
  --color-background: #fffdf7;
  --color-primary: #f5465f;
  --color-secondary: #03989e;
  --color-accent: #ff8a5a;

  /*  
  --color-text: #0a2342; //Prussian Blue
  --color-background: #fffdf7; //Porcelain
  --color-primary: #03989e; //Dark Cyan
  --color-secondary: #f5465f; //Hot Fuchsia
  --color-accent: #ff8a5a; //Coral Glow */
}
